<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>компонент карты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />    
</head>
<body> 
    <div id="app" >
        <div class="map-comp" 
        @mouseup='mouseup_event_DrawPolygonByFinger'
        @mousedown='mousedown_event_DrawPolygonByFinger'>
            <yandex-map class="ymap" zoom="8" :coords="coords" @map-was-initialized="initHandler"></yandex-map>
            <div class="map-comp--buttons">
                <button v-show='stateApp == 0' @click='click_btn_Start_Edit' class="white-button">Нарисовать область</button>
                <button v-show='stateApp == 1' @click='click_btn_Clear' class="white-button">Очистить</button>
            </div>
        </div>
        <div>
            <div  v-show='placemarks.length != 0'>
                <p><b>Уточните категорию</b></p>
                <div class="app--categories">
                    <p v-for='tag in tags' @click='cur_tag = tag' class="white-button" >{{ tag }}</p>
                </div>  
            </div>

            <div class="app--near-you" v-show='placemarks.length != 0'>
                <p><b>Рядом с вами</b></p>
                <div class="card-container">
                    <div v-for='item in placemarks'
                    v-show="item.tag == cur_tag || is_share(item)"
                    @click="click_on_card(item.coords)" 
                    class="card"
                    :class="
                    {
                        share: is_share(item),
                        'on-card': is_service_AND_equals_coords(item),
                        'on-share': is_share_AND_equals_coords(item)
                    }" >
                        <img :src="item.imageUrl">
                        <div >
                            <p>
                                <b>{{item.name}}</b>
                                <br>{{item.address}}
                                <br>{{item.phoneNumber}}
                            </p>
                            <span v-for='i in [1,2,3,4,5]' :class="{ 'on-star': (i <= item.stars) }">*</span>
                            <span>Отзывы ({{item.countReviews}})</span>
                        </div>
            
                        <div class="green-button" :class="{'red-button': is_share(item)}">
                            <img :src="is_share(item) ? 'images/icons/shares.png' : 'images/icons/let.png'">
                            <span>Написать сообщение</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="dist/bundle.js"></script>
</body>
</html>