.app--categories{
    display: flex;
}
.card-container{
    display: flex;
    justify-content: center;
}
.white-button{
    margin-right: 2rem;
    padding: 0.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card{
    margin-right: 1rem;
    max-width: 270px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:hover{
    box-shadow: 0 0 20px rgb(58, 128, 2);
}
.share:hover{
    box-shadow: 0 0 20px rgb(155, 3, 3);
}
.on-card{
    border: 2px solid green;
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(1, 255, 56, 0.801);
}
.on-share{
    border: 2px solid rgb(155, 3, 3);
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(200, 20, 36, 0.801);
}
.card img{
    float: left;
    max-width: 30%;
}
.green-button{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    color: white;
    background-color: rgb(6, 139, 6);
    height: 2rem;
}
.red-button{
    background-color: rgb(155, 3, 3);
}
.green-button span{
    margin-left: 0.5rem;
}
.green-button img{
    width: 1.5rem;
    height: 1.5rem;
}
.on-star{
    color: red;
}
/**/

.map-comp--buttons
{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}
.map-comp {
    width: 100%;
    height: 100vh ;
}
p, h1, a{
    font-family: 'Comfortaa', cursive;
    margin-left: 0.2rem;
    margin-top: 0.15rem
}
a {
    padding: 0.2em;
    border: 1px solid rgb(119, 106, 233);
    border-radius: 1rem;
}
h1{
    font-size: 1.1em  
}
.map-comp .ymap {
    width: 100%;
    height: 100%;
}
.map-comp .place-info{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}
.map-comp .place-info .content{
    height: 100%;
    overflow-y: scroll;
    background-color: #f4f4f4;
    margin: 0;
}
.map-comp .place-info .content .quit{
    position: fixed;
}
.map-comp .place-info .content .service-item{
    margin: 0.2rem;
    margin-bottom: 0.7rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.service-item img{
    width: 100%;
}
.map-comp .place-info .content .service-item div{
    clear: left;
}
.map-comp .quit{
    float: right;
    margin: 0.7rem;
}